#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

#logo,
#user {
  width: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

input {
  padding: 1rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  border: 1px solid black;
}
